@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed:wght@600&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary-color: hsl(60, 100%, 40%);
  --dimmed-color: hsl(60, 100%, 30%);
}

body {
  font-family: "IBM Plex Sans", sans-serif;;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  color: #CCC;
  background: hsl(60, 100%, 3%);
}

@media (width < 640px) {
  body.post {
    aside {
      order: 2;
    }
    main {
      order: 1;
    }
  }
}

main {
  flex: 3;
  font-size: 14pt;
  padding: clamp(2rem, 4vw, 4rem) clamp(1rem, 2vw, 2rem);
  min-width: calc(320px - 4rem);
  max-width: calc(900px - 4rem);
}

aside {
  flex: 1;
  padding: clamp(2rem, 4vw, 4rem) clamp(1rem, 2vw, 2rem);
  font-size: 12pt;
  color: #999;
  min-width: calc(320px - 4rem);
  max-width: calc(500px - 4rem);
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
  color: var(--primary-color);
}

main h2 {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: white;
}

.tags > a {
  display: inline-block;
  background-color: var(--primary-color);
  color: black;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  margin: 0.1rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.tags > a:hover {
  background-color: white;
  color: var(--primary-color);
}

aside .site-description {
  font-size: 16pt;
  text-wrap: balance;
  line-height: 1.1;
}
aside .site-description b {
  color: var(--primary-color);
  font-weight: 600;
}
aside nav {
  margin-block-start: 2rem;
  font-size: 14pt;
}

.pagination {
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
}

.post-list {
  margin-block: 2rem;
}
.homepage.post-list {
  margin-block-start: 0.5rem;
}
.post {
  margin-block-end: 2rem;
}
.post-excerpt {
  font-size: 14pt;
  margin-block: 1rem;
}
.post-content {
  margin-block: 2rem;
}
.post-content > p:first-of-type {
  font-size: 18pt;
}
.post-metadata {
  font-size: 14pt;
  color: #888;
  font-weight: normal;
}
.post-list .post-metadata {
  font-size: 14pt;
}
.post-meta2 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: var(--primary-color);
  padding-right: 5px;
  vertical-align: text-top;
}

code, pre {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--dimmed-color);
}
code {
  padding: 0.1rem 0.3rem;
}
pre > code {
  padding: 0;
}
pre {
  font-size: 12pt;
  background: hsl(60, 100%, 5%);
  color: var(--dimmed-color);
  padding: 0.5rem;
  overflow-x: auto;
}
::selection {
  background: var(--dimmed-color);
  color: black;
}

table.table {
  border-collapse: collapse;
}
table.table td {
  border: 1px solid var(--dimmed-color);
  padding: 0.3rem 0.8rem;
}
code > var {
  font-style: normal;
  color: var(--primary-color);
}